body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F0F0F0;
    color: #F45050;
    gap: 30px;
}

.container {
    color: #3C486B;
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
}

.gridNode {
    border-style: solid;
    user-select: none;
    border-width: 1px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 500px;
    flex: 1 1 0;
}

.menuButton {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    width: 150px;
    background-color: #0000000d;
    color: #0e0e10;
    padding: 0 20px;
    :hover {
        background-color: #0000001a;
    }
}